html, body {
  display: inline-block;
  height: 100%;
  background-image: linear-gradient(white);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  min-width: 300px;
}

#survey-form {
  display: inline-block;
  height: 100%;
}

#heading {
  display: inline-block;
  position: relative;
  width: 100%;
  font-family: 'Dosis', sans-serif;
}

#name-label, #email-label, #number-label {
   display: inline-block;
} 

#description {
  color: #283593;
}

#title {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 35px;
}

.labels {
  padding-bottom: 20px;
  font-weight: bold;
}

.title-animation {
  animation: color-change2 2s infinite;
}

@keyframes color-change2 {
    0% { color: #FF6200; }
    50% { color: #00AEB2; }
    100% { color: #FF7219; }
}

#container {
  width: 70%;
  display: inline-block;
  position: relative;
  background-color: #FBE9E7;
  border: dashed;
  border-width: 10px;
  border-radius: 20px;
  border-color: #FFCCBC;
  padding: 40px 30px 40px 30px;
  margin: 0px 70px 0px 40px;
}

.user-input {
  height: 20px;
  width: 280px;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
}

#number {
  width: 100px;
  height: 20px;
  padding: 5px;
  margin: 10px;
  border-radius: 10px; 
}

#dropdown {
  width: 160px;
  height: 40px;
  padding: 5px;
  margin: 10px;
  border-radius: 30px; 
  font-size: 15px;
}

.radio {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 10px 10px 20px 0px; 
  margin-bottom: 20px;
  
}

#favorite {
  width: 160px;
  height: 40px;
  padding: 5px;
  margin: 10px;
  border-radius: 30px;
  margin-bottom: 30px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

.impl-by-user {
  text-align: center;
  padding: 10px 10px 20px 0px; 
  margin-bottom: 20px;
}

.checkbox {
  display: grid;
  position: relative;
  poition: center;
  padding: 5px;
  vertical-align: middle;
  
}

#implementations {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;    
  position: relative;
  vertical-align: middle;
  padding: 5px;
}

.sharecomments {
  font-family: 'Montserrat', sans-serif;
  font-color: white;
  letter-spacing: 10px;
  animation: color-change 3s infinite;
}

@keyframes color-change {
    0% { color: white; }
    25%{ color: #00B8D4; }
    50% { color: #00838F; }
    100% { color: black; }
}

.button {
  display: inline-block;
  border-radius: 10px;
  background-color: #E64A19;
  border: none;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

/* Button Taken from https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate1*/

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  
}

.button:hover span:after {
  opacity: 1;
  right: 0;
  color: white;
}
